.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6{
	/*background-color:#ccc;*/
	margin-bottom: 26px;
	text-align: center;
}
#question_1{
	font-size: 35px;
	text-align: center;
	margin-top: 40px;
}
#q1{
	font-size: 18px;
	font-weight: bold;
}
#a,#b,#c,#d{	
	margin-top: 40px;
	font-size: 22px;
	/*text-align: center;*/
}
.con input{
	text-align: center;
	cursor:pointer;
	/*height: 100%;*/
	height:30px;
	width: 30px;
	opacity: 0.5;
	margin:0;
	padding: 0;
}
#sub{
	text-align:center;
	font-size: 30px
}
#sub:hover{
	color:#FF9C33;
}
#jy{
	display: none;
	text-align: center;
	margin:10px auto;
	height:60px;
}
#dd{
	text-align: center;
	margin:10px auto;
}